*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

    background-color: #111;
}

:root{
    /* Background Colors */
    --bg-primary-color: #111;
    --bg-fill-color: #daa618;
    --bg-food-color: #da1818;
    --bg-snakeHead-color: #ffff;

    /* Text colors */
    --text-primary-color: #fff;

    /* Border colors */
    --border-primary-color: #333;

    /* Border Radious */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

    /* Spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    --space-4xl: 56px;

}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btn{
    padding: var(--space-md) var(--space-sm);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;

    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;

    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.3);
}


main,
section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: var(--space-lg);
    gap: var(--space-sm);
}

section .infos{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    /* border: 1px solid var(--border-primary-color); */
    /* border-radius: var(--border-radius-sm); */
    /* background-color: red; */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    
}

.controls{
    /* background-color: white; */
    
    height: 28%;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .up-down{
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.controls .up-down .controlBtnUpDown{
    background-color: #111;
    color: var(--text-primary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    text-transform: uppercase;
    height: 100%;

    padding: var(--space-sm);
    gap: var(--space-sm);
}
.controls .controlBtn{
    background-color: #111;
    color: var(--text-primary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    text-transform: uppercase;
    height: 50%;
    width: 70%;
}

.block{
    /* width: 80px;
    height: 80px; */
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.snakeBody{
    background-color: var(--bg-snakeHead-color);
}

.modal{
    
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #1111;
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .startGame, .modal .endGame{
    /* background-color: #da1818; */
    height: 20%;
    width: 70%;
    gap: var(--space-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .endGame{
    display: none;
}

.startGame h3, .endGame h3{
    /* background-color: red; */
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.9rem;
    padding: var(--space-sm);
}





